<!DOCTYPE html>
<html>
  <head>
    <title>FetchAChef</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "#{Figaro.env.GOOGLE_API_KEY}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
